.dropdown {
    width: 150px;
    margin-left: 20px;
    text-align: center;
}

.dropdown .menu-title {
    width: 150px;
    color: white;
    border: 1px solid black;
    background-image: linear-gradient(#444, #111);
    background-color: #111;
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}

.dropdown-expand {
    height: 300px;
    width: 100%;
    display: none;
}

.active {
    height: 0px;
    display: block;
    animation: expanding 300ms ease-in-out 0s 1 alternate;
}

@keyframes expanding {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

li {
    color: white;
    border: 1px solid black;
    background-image: linear-gradient(#444, #111);
    background-color: #111;
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    width: 100%;
}

#image-slider {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 500px;
    height: 350px;
    border: 1px solid black;
}

#pictureframe {
    height: 300px;
    width: 500px;

    overflow: hidden;
}

#image-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: .2s ease-in-out;
    left: 0;
    position: relative;
}

.image-item {
    height: 300px;
    width: 500px;
}

.image-item img {
    height: 300px;
    width: 500px;
}

#slider-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top: 1px solid black;
}

#backward {
    width: 10%;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

#forward {
    width: 10%;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

#bubbles {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.bubble {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.active-bubble {
    background-color: darkblue;
}